.banner-section-home{
    background-image: url(../../../assets/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.service-image{
    border-radius: 20px;
}